/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */

/* Styles for the body */

body {
	font-family: Lato, "Open Sans", Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #202030;
	background-color: #f8f8fc;
}
/* Use this file to use your own styles*/
.tagline {
	color: #86B2A2
}
.name {color: #B28E86}
/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #FFE0D9;
}

.resume-main {
	background-color: #F2FFFA;
}

.resume-aside {
	background-color: #D9FFF1;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}
.biography-section {font-family: 'Playfair Display', serif;}
.biography-details li::before {
	color: #EE7623;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
